window {
font-family: IPAGothic;
margin: 2px;
border: 2px solid #242D33;
background-color: #242D33;
}

#text {
margin: 4px;
color: #95A4AD;
}

#input {
color : #2275a8;
margin: 5px;
border: 2px solid #242D33;
background-color: #242d33;
}

#inner-box {
margin: 0px;
border: 10px solid #282C33;
background-color: #242D33;
}

#outer-box {
margin: 0px;
border: 1px solid #242D33;
background-color: #242D33;
}

#scroll {
margin: 5px;
border: 2px solid #242D33;
background-color: #242D33;
}

#entry:{
border: 5px solid #1d2933;
background-color: #1d2933;
}

#entry:selected {
font-weight: bold;
color: #283e4f;
background-color: #283e4f;
}

