[user]
	name = Rurs21
	email = rurs21@protonmail.com
	signingkey = $GPG_SIGNING_KEY
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[gpg]
	program = /usr/local/MacGPG2/bin/gpg
[commit]
	gpgsign = true
[pull]
	ff = only
[alias]
	fuck = reset HEAD~1 --soft
	yeet = !git add . && git commit -m "YEET!" && git push -f
	scrap = !sh -c \"git checkout HEAD -- $1\" -
[init]
	defaultBranch = main
