window {
    font-family: IPAGothic;
    margin: 2px;
    border: 2px solid #FFFFFF;
    background-color: #191F24;
}

#outer-box {
    margin: 0px;
    border: 1px solid #242D33;
    background-color: #191F24;
}

#input {
    color : #2275a8;
    margin: 2px 5px 2px 5px;
    border: 0px solid #191F24;
    background-color: #191F24;
}

#inner-box {
    margin: 0px;
    border: 0px solid #191F24;
    background-color: #191F24;
}

#text {
    margin: 0px;
    color: #95A4AD;
}

#img {
    margin: 0px 10px 0px 4px;
}

#scroll {
    margin: 0px;
    border: 2px solid #242D33;
    background-color: #242D33;
}

#entry:{
    border: 0px solid #1d2933;
    background-color: #1d2933;
}

#entry:selected {
    font-weight: bold;
    color: #283e4f;
    background-color: #283e4f;
}

